<launch>

    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <!-- 加载地图 -->
        <!-- <arg name="world_name" value="$(find urdf01_gazebo)/worlds/box_house.world" /> -->
        <arg name="world_name" value="$(find urdf01_gazebo)/worlds/2024rc_field.world" />
    </include>

    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description"
        command="$(find xacro)/xacro $(find urdf01_gazebo)/urdf/rc_r2/chassis.urdf.xacro" />
    <rosparam file="$(find rc_gazebo)/config/actions.yaml" command="load" if="true"/>
    
    <!-- 在 gazebo 中显示机器人模型 -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" clear_params="true"
        args="-param robot_description -urdf -model Four_wheel_chassis -x -5.5 -y 0.5 -z 0.1" output="screen" />
    <rosparam file="$(find urdf01_gazebo)/config/rc_r2.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="controller_manager" output="screen"
          args="spawn 
            controllers/joint_state_controller
            controllers/chassis_controller
            controllers/action_controller"/>
            
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
    </node>

    <node name="accel_pub" pkg="r2_path" type="accel_pub" output="screen" />

</launch>